<h3>Edit Company Form</h3>

<%= form_for @company do |f| %>

  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :revenue, "Revenue(,000):" %>
  <%= f.number_field :revenue %><br />
  
  <% end %>
