<h2>New Company Form</h2>

<%= form_for @company do |f| %>

  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :revenue, "Revenue(in 100,000):" %>
  <%= f.number_field :revenue %><br />


  <b>Check this box for customer:</b><%= f.check_box :customer %><br>
  <%= f.submit "Create Company" %>
<% end %>

<%= link_to "Add a lead/contact", new_lead_path %>
