<h3><%=@company.name%></h3>
<b>Revenue:</b> <%= @company.revenue %></p>
<b>Customer:</b> <%= @company.customer %></p>

<ul>

  <h4><%= @company.name%>'s Leads/Contacts</h4>
  <% @company.leads.each do |l| %>
 <li><%= link_to l.name, lead_path(l) %> | Main Point of Contact?: <%= l.contact %>
   -
   <%= link_to 'Edit Lead', edit_lead_path(l) %></li>
  <%end %>

</ul>

  <%= button_to 'Add New Lead Company', new_lead_path %>
