<h3><%=@company.name%></h3>
<b>Revenue(in thousands):</b> <%= @company.revenue %></p>
<b>Customer:</b> <%= @company.customer %></p>

<ul>

  <h4><%= @company.name%>'s Leads/Contacts</h4>
  <% @company.leads.each do |l| %>
 <li><b> <%= link_to l.name, company_lead_path(l) %> </b>|
  <b>Main Point of Contact?:</b> <%= l.contact %>|
   <%= link_to 'Edit Lead', edit_company_lead_path(l) %></li>
  <%end %>


</ul>
<%= link_to "Add a lead/contact", new_company_lead_path(@company) %>

<%= link_to 'Delete Company', company_path(@company), method: :delete %>
